.menu_button.active{
  background-color: rgba(0, 0, 0, 0.04);
}
input[type=file]::-ms-browse {
  display: none;
}

input[type=file]::-webkit-file-upload-button {
  display: none;
}

input[type=file]::file-selector-button {
  display: none;
}

input[type=file]::-ms-browse:hover {
  display: none;
}

input[type=file]::-webkit-file-upload-button:hover {
  display: none;
}

input[type=file]::file-selector-button:hover {
  display: none;
}
input[type='file'] {
  color: transparent;
}
